<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head>
		<title>shop</title>
		<base href="@@webRoot/index.html">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--build:css css/vendor.css-->
            <!-- vendorCss:css -->
            <!-- endinject -->
		<!--/build-->
	</head>
	<body>
		<div id="app">
		</div>
    </body>
		<!--build:js js/vendor.js-->
	        <!-- vendorJs:js -->
	        <!-- endinject -->
		<!--/build-->
		<!--build:js js/index.js-->
	        <!-- appJs:js -->
	        <!-- endinject -->
		<!--/build-->
</html>